.small-card {
    background-color: #2196f3;
    color: #ffffff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .small-card:hover {
    transform: scale(1.05);
  }
  
  .small-card .MuiCardContent-root {
    padding: 1rem;
  }
  
  .small-card .MuiCardContent-root h2 {
    margin-bottom: 0.5rem;
  }
  
  .small-card .MuiCardContent-root p {
    margin-top: 0;
  }
  